---
import Layout from '../layouts/Layout.astro';

---

<Layout title="About">
	<div class="text-sm">
		<section>
			<h1 class="title mb-12">About</h1>
			<p class="mb-4">
				Hi! I'm a Software Engineer living in Sydney, Australia. I'm currently
				working as a Graduate Software Engineer at 
				<a href="https://www.langdale.com.au/" class="text-everforest-yellow underline">Langdale Consultants</a>.
			</p>
			<p class="mb-4">
				Previously I worked as a Software Engineering Intern at 
				<a href="https://www.mongodb.com/" class="text-everforest-yellow underline">MongoDB</a>,
				where I worked as a full-stack Software Engineer on the Atlas Charts Team. I am interested
				in back-end development, distributed systems, programming languages (from Functional to Object-Oriented), and
				compilers.
			</p>
			<p class="mb-4">My hobbies include:</p>
			<ul class="list-disc list-inside" role="list">
				<li class="py-0.5">Playing games (mainly playing Genshin Impact and Persona 5 Royal at the moment)</li>
				<li class="py-0.5">Powerlifting, I've participated in Novice Competitions twice</li>
				<li class="py-0.5">Playing Guitar, and trying to make music once in a blue moon</li>
				<li class="py-0.5">Listening to music, mainly metalcore/rock</li>
				<li class="py-0.5">Watching anime</li>
			</ul>
		</section>
	</div>
</Layout>
