---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Home">
	<div class="text-sm p-4 sm:p-0">
		<section>
			<h1 class="title mb-12">Hello World</h1>
			<p class="mb-4">
				This website is currently under construction. More to come soon...
			</p>
			<p>Find me on</p>
		</section>
		<section class="mt-16">
			<h2 class="text-xl font-semibold text-everforest-blue mb-6">Posts</h2>
			<p class="mb-4">Nothing yet...</p>
		</section>
	</div>
</Layout>
