---
import '../styles/global.css'
import Footer from '../components/Footer.astro'

type Props = {
	title: string
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-0 max-w-xl min-h-screen font-mono mx-auto flex flex-col pt-16 antialiased bg-global-bg text-global-text">
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
